* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg {
    /* 1,4,6,7,8,9,10 */
    background-image: url("images/img10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 60%;
    height: 60%;
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7) inset;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    color: #8b4d12;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c47225;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #8b4d12;
}

.board {
    border: 2px solid #8b4d12;
    padding: 10px;
}

#game-board td {
    width: 50px;
    height: 50px;
    border: 1px solid #8b4d12;
    color: #8b4d12;
    background-color: white; 
    font-size: 30px;
}